$grid-gap: 20px;

.product-list {
    border-top: 1px solid #ccc;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        overflow: hidden;
        padding: $grid-gap;
        position: relative;

        &:before {
            background: #eee;
            border-radius: 50%;
            content: '';
            left: 50%;
            height: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transition: transform 1s ease;
            width: 20px;
            z-index: -1;
        }

        &:hover {
            &:before {
                transform: scale(100);
            }
            .product-list__item__img {
                transform: scale(1.02) translate3d(0, -5px, 0);
            }

            .product-list__item__name,
            .product-list__item__price {
                transform: translate3d(0, -5px, 0);
            }
        }

        &:nth-child(3) {
            grid-column: span 2;
            grid-row: span 2;
        }

        &__name {
            font-weight: 600;
            text-transform: uppercase;
        }

        &__name {
            transition: transform 0.3s ease-out 0.1s;
        }

        &__price {
            transition: transform 0.3s ease-out 0.2s;
        }

        &__content {
            margin-top: 10px;
        }
        
        &__img {
            max-width: 100%;
            transition: transform 0.5s ease-out;
        }
    }
}

@media all and (min-width: 768px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);

        &__content {
            align-content: center;
            display: flex;
            justify-content: space-between;
        }
    }
}